@media only screen and (max-width: 600px) {
    .fakeDiv{
        display: none;
    }
    .yourScore{
        font-size: 280%;
    }
    .overlayText{
        font-size: 120%;
    }

    .categories{
        margin: 1.5% !important;
        padding: 3% !important; 
    }
}

.score:hover
{
    box-shadow: 0px 0px 10px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.zero {
    position: relative;
  }
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.zero:hover .overlay {
    opacity: 1; 
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@media only screen and (min-width: 800px) {
    .forms{
        width: 50%;
        margin: auto;   
    }

    .categories{
        margin-left:5% !important; 
        text-align: center;
        padding: 5% !important;
    }
}