::placeholder{
    color: #000;
    opacity: 0.4;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

#loader{
    opacity: 0.5;
    font-weight: bold;
    padding-bottom: 5%;
    padding-top: 10%;
}