#footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }

.grey-text:hover{
    text-decoration: none;
    color: #005dff !important;
    font-weight: bold; 
}

#brand{
    font-weight: bold;
    font-size: 180% !important;    
}
/* 
#twitter:hover{
    color: #00B6F1 !important;
}

#fb:hover{
    color:#3B5998 !important;
}

#in:hover{
    color:#04669A !important;
}

#yt:hover{
    color:#C31A1E !important;
}

#insta:hover{
    color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;
} */