#footer {
    /* position: relative;
    bottom: 0; */
    width: 100%;
    margin-top:5%;
  }

.icons{
    font-size: 3vw !important;
}

.cr:hover{
    text-decoration: none;
    font-weight: bold;
}

#brand{
    font-weight: bold;
    font-size: 180% !important;    
}

@media only screen and (max-width: 600px) {
    .icons{
        font-size: 6.3vw !important;
    }
}

 
#twitter:hover, #fb:hover, #in:hover, #yt:hover,#insta:hover{
    color: #2196F3 !important;
    text-decoration: none;
}
