#loader{
    opacity: 0.5;
    font-weight: bold;
    font-size: 400%;
    padding-top: 7%;
    min-height: 50vh;
}

@media only screen and (max-width: 900px) {
    #loader{
        opacity: 0.5;
        font-weight: bold;
        min-height: 62.3vh;
        font-size: 250%;
    }
  }